@import url("../../Themes/DesignSystem.uss");

.notification-host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: var(--spacing-lg);
}

.notification-container {
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 500px;
}
